.modal-background {
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.form-container.prop-stopper {
  height: 600px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.form-container.prop-stopper > div {
  height: 100%;
  width: 100%;
}
