.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  height: 13vh;
  box-shadow: 0em 1em 1em rgba(155, 155, 155, 0.2);
  padding-bottom: 2vh;
}

.navbar_logo img {
  object-fit: contain;
  height: 100px;
}

.navbar_search {
  display: flex;
  align-items: center;
}

.navbar_links {
  display: flex;
  align-items: center;
}

.navbar_links li {
  display: inline-block;
}
