.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.navbar_logo img {
    object-fit: contain;
    height: 100px;
}

.navbar_search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    
}
.navbar_search_searchbar {
   

}
.navbar_links {
    display: flex;
    align-items: center;
}