.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 3vh;
  z-index: 100;
  width: 100%;
  min-height: 145px;
  max-height: 145px;
  background-color: white;
  box-shadow: 0em 1em 1em rgba(155, 155, 155, 0.2);
  padding-bottom: 2vh;
}

.div__transparent_bg {
  background-color: rgba(255, 255, 255, 0.7);
}

.div__white_bg {
  background-color: white;
}

.navbar_logo img {
  object-fit: contain;
  height: 100px;
}

.navbar_search {
  display: flex;
  align-items: center;
}

.navbar_links {
  align-items: center;
  position: absolute;
  top: 10vh;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 20px;
}

.div__user_button {
  width: 3.5em;
  padding: 0.5em;
  border-radius: 18px;
  font-size: 1.4em;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div__user_button div {
  padding-top: 2px;
  color: #ff3a5c;
  cursor: pointer;
}

.div__user_button button {
  font-size: 15px;
  background-color: white;
  border: none;
}

.div__user_button button:focus {
  outline: none;
}

.div__user_button:hover {
  cursor: pointer;
}
