.listingMapContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.listingMapContainer_listings {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-grow: 1;
  width: 100px;
  /* border: 1px solid black; */
  padding-top: 10px;
}
div.div__listings_property {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  padding: 20px;
  border-bottom: 1px solid rgb(208, 208, 208);
  margin-left: 3vw;
  margin-bottom: 1vh;
  text-decoration: none;
  color: black;
  width: 35vw !important;
}

.listingMapContainer__googlemap {
  display: flex;
  flex-direction: column;
  position: fixed !important;
  width: 55vw;
  top: 0;
  right: 0;
  z-index: 1;
}

.button__filter {
  width: 5em;
}

.div__coverphoto {
  /* flex-grow: 4; */
}
.img__listing_coverphoto {
  height: 11em;
  border-radius: 0.7em;
}

.div__listings_info {
  flex-grow: 2;
  display: flex;
  padding: 1em;
  /* justify-self: flex-end; */
  /* align-self: stretch; */
}

.span__nightly_rate {
  align-self: flex-end;
  justify-content: flex-end;
}
