.listingMapContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.listingMapContainer_listings {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-grow: 1;
  width: 100px;
  /* border: 1px solid black; */
  padding-top: 10px;
}
div.div__listings_property {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 1.8em 0 1.8em 0;
  border-bottom: 1px solid rgb(208, 208, 208);
  margin-left: 3vw;
  margin-bottom: 1vh;
  text-decoration: none;
  color: rgb(24, 24, 24);
  width: 40vw !important;
}

.listingMapContainer__googlemap {
  display: flex;
  flex-direction: column;
  position: fixed !important;
  width: 55vw;
  top: 0;
  right: 0;
  z-index: 1;
}

.button__filter {
  width: 5em;
}

.div__coverphoto {
  /* flex-grow: 4; */
}
.img__listing_coverphoto {
  width: 15em;
  height: 10em;
  border-radius: 0.7em;
}

div.div__listings_info {
  font-family: Roboto, Arial;
  font-weight: 300;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-self: flex-end;
  width: 100%;
}

div.div__listings_info h2 {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 200;
}

.div__description {
  height: 100%;
}

.div__nightly_rate {
  align-self: flex-end;
}

span.span__night_rate-bold {
  font-size: 1.4em;
  font-weight: 500;
}
