.new-property-page-container {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.checkbox-corrector > input#private-checkbox {
  width: 14px;
  height: 14px;
  margin: 0px 13px;
}

.new-property-form {
  width: 60vw;
  min-width: 550px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.new-property-form input, textarea.description {
  border: none;
  box-sizing: border-box;
  height: 50px;
  font-size: 1.25em;
}

.new-property-form input:focus, .new-property-form input:hover, textarea.description:focus, textarea.description:hover {
  box-shadow: 0px 0px 5px grey;
}

textarea.description:focus {
  outline: none;
}

.address-inputs {
  display: flex;
  flex-direction: column;
}

.address-inputs > input {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.new-property-form textarea {
  height: min-content;
  margin-top: 10px;
}

.nightly-rate-input-container {
  font-size: 1.25em;
}

.nightly-rate-input-container input {
  margin: 0px 5px;
}

.new-property-form label {
  font-size: 1.25em;
}

.nightly-rate input {
  height: 25px;
  width: 80px;
  text-align: right;
  border: 1px solid lightgrey;
  }


.nightly-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  width: 40%;
}

input.occupancy {
  width: 50px;
  text-align: right;
  height: 30px;
}

input.private {
  height: 20px;
  width: 20px;
}


input[type=time] {
  height: 30px;
  padding: 5px;
}

input[type=time]:focus, input[type=time]:hover {
  box-shadow: 0px 0px 5px grey;
}

.checkin-checkout-privacy-occupancy {
  display: flex;
  justify-content: space-between;
}

.checkin-checkout-privacy-occupancy input, textarea.description {
  border: 1px solid lightgrey;
}

.checkin-checkout-privacy-occupancy input:hover {
  cursor: pointer;
}

.checkin-checkout, .occupancy-privacy {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 250px;
}

.new-checkin, .new-checkout, .new-occupancy, .new-privacy {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  height: 60px;
}

button.new-property-submit {
  color: white;
  font-weight: bolder;
  position: relative;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  background-color: #ff3a5c;
  margin: 10px auto;
  box-shadow: 2px 2px 5px grey;
}

button.new-property-submit:hover {
  cursor: pointer;
}

button.new-property-submit:focus {
  outline: none;
}

button.new-property-submit:active {
  box-shadow: none;
  top: 2px;
  left: 2px;
}
