.div__footer_container {
  border-top: 1px dotted lightgrey;
  position: static;
  bottom: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.div__project_member {
  padding-bottom: 3px;
}

.div__project_member:hover {
  background-color: rgb(255, 250, 250);
  box-shadow: 1px 1px 4px lightgrey;
}
.div__project_member:not(.div__project_member:nth-last-child(1)) {
  border-right: 1px solid lightgrey;
}

.div__project_member_name {
  padding-top: 8px;
  padding-bottom: 8px;
}

.tags__container {
  display: flex;
  flex-direction: row;
  font-family: Roboto, arial, sans-serif;
  font-weight: 320;
  font-size: 1em;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 30px;
  text-align: left;
}

.div__center_container {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(249, 249, 249);
}

.tags__container div {
  padding: 5px 1vw 5px 1vw;
}

.div__icons a:visited,
.div__icons a {
  font-size: 1.3em;
  color: black;
  cursor: pointer;
}

.div__icons a:hover {
  color: #f8395c;
}

.div__name,
.div__icons {
  border-bottom: 1px dotted lightgrey;
}
.div__name {
  height: 2em;
  line-height: 1.8em;
  justify-content: center;
}

.div__icons {
  height: 2em;
  width: 20vw;
  display: flex;
  justify-content: space-around;
  /* outline: 1px solid black; */
}
