body,
html {
  height: 100%;
  width: 100%;
}

:root {
  --good-pink: #ff3a5c;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, arial, sans-serif;
  font-weight: 300;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

#div__content {
  padding-top: 2vh;
}

input:focus {
  outline: none;
}
