.form__container_div {
    background: rgba(255,255,255,.35);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__container_div > div {
    width: 80%;
    display: flex;
}

.form__container_div > div > div {
    flex-grow: 1;
}

.div__container_form.signup {
    background: center url(campus.png);
}

.div__container_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__container_div :is(input, button) {
    height: 35px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgb(90, 90, 90);
}

.form__container_div :is(input, button):focus {
    outline: none;
}

.form__container_div button {
    position: relative;
}

.form__container_div button:active {
    top: 2px;
    left: 2px;
    box-shadow: none;
}

.form__container_div > button {
    width: 80%;
}

.button-group {
    justify-content: space-between;
}

.button-group .grouped-button {
    width: 40%;
}
