#div__search_bar {
  flex-direction: row;
  border: 1px solid rgb(203, 203, 203);
  background-color: rgb(235, 235, 235);
  border-radius: 5em;
  font-family: Roboto, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.div__search_section {
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0.5em 0.7em 0.5em 0.7em;
}

.div__search_section:hover {
  background-color: white;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
}

.div__search_section:nth-of-type(1) {
  padding: 0.5em 0.2em 0.5em 2em;
  border-radius: 5em 0 0 5em;
}

.div__search_section:nth-last-of-type(1) {
  height: 100%;
  padding: 0.5em 2em 0.5em 0.2em;
  border-radius: 0 5em 5em 0;
}

.div__search_section label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.04 em;
  padding-bottom: 2px;
}

.div__search_section input {
  background: none;
  border: none;
  line-height: 20px;
}

.div__search_section button {
  border: 0;
  background: 0;
  color: rgb(111, 111, 111);
}

.label__hidden {
  display: none;
}

/* #div__search_bar label::after {
  content: "\A";
  white-space: pre;
} */
