.reel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-container {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.reel-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.summary-text-container {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.summary-image-container {
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
}

.user-property-listing-footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.personal-items-container {
  display: flex;
  justify-content: space-around;
}

.new-listing-button {
  margin-left: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.new-listing-button button {
  position: relative;
  color: white;
  background-color: var(--good-pink);
  border: none;
  box-shadow: 2px 2px 3px rgb(66, 66, 66);
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bolder;
}

.new-listing-button button:hover {
  cursor: pointer;
}

.new-listing-button button:focus {
  outline: none;
  background-color: #ff3a5bbe;
}

.new-listing-button button:active {
  top: 2px;
  left: 2px;
  box-shadow: none;
}

.summary-button-group {
  display: flex;
  width: 270px;
  height: 55px;
  justify-content: center;
  align-items: center;
}

.summary-button-group > a {
  width: 135px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grouped-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--good-pink);
  color: white;
  width: 100%;
  height: 100%;
}

.grouped-button.last {
  border-radius: 5px;
  border: none;
}

.grouped-button.first {
  margin-left: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid white;
}

a + a > .grouped-button.last {
  margin-right: auto;
  border-radius: unset;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid white;
}

.grouped-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px var(--good-pink);
}

.grouped-button:active {
  outline: none;
  width: 98%;
  height: 95%;
}
