* {
  box-sizing: border-box;
}
.schoolLogoImage {
  height: 100px;
  width: auto;
}

.schoolName {
  font-size: 20px;
  color: black;
}

.div__home_container {
  min-height: 100vh;
}

.div__home_container::after {
  content: "";
  min-height: 10vh;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-attachment: absolute;
  background: url(campus_photo.png);
  background-size: cover;
  background-position: top;
  opacity: 0.5;
  top: 136px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /* z-index: -1; */
}

@media screen and (max-width: 740px) {
  div.div__home_container {
    min-height: 100vh;
    top: 276px;
    background-size: cover;
  }
  div.div__home_container:after {
    min-height: 100vh;
    top: 276px;
    background: url(bg_image_smallscreen.jpg);
    background-size: cover;
  }
}

.banner_container {
  display: flex;
  flex-direction: column;
}

.div__school_container {
  padding-top: 5vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  /* height: 50%; */
  /* width: 25%; */
  overflow: hidden;
}

.school_buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.school_button_container_1,
.school_button_container_2 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.div__school_container img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid lightgray;
  /* box-shadow: 2px 2px 10px 2px lightgray; */
  background-color: white;
}
.schoolLogoImage:hover {
  margin-top: -5px;
  box-shadow: 5px 5px 15px 5px #c9c9c9;
}
.school_button_container_0 {
  position: fixed;
  top: 30vh;
  left: 10vw;
  /* min-height: -50vh; */
}

.div__home_container h2 {
  font-weight: 200;
  border: 1px solid black;
}

.footer_container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  align-items: center;
  font-family: cursive;
  /* justify-content: space-around; */

  border-radius: 3px;

  padding: 0;
}
.homepage_container {
  min-height: 100vh;
}
