.schoolLogoImage {
  height: 100px;
  width: auto;
}

.schoolName {
  font-size: 20px;
  color: black;
}

.div__home_container {
  /* padding-top: 10vh; */
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-around; */
}
.banner {
  align-self: center;
  height: 55vh;
  width: 95vw;
  /* z-index: -1; */
}
/* .div__home_container::after {
  content: "";
  background: url(campus_photo.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.div__school_container {
  display:flex;
  flex-direction: row;
  margin-top: 5vh;
  font-family: Roboto, arial, sans-serif;
  font-weight: 200;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.school_buttons{
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.div__school_container img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.div__home_container h2 {
  font-weight: 200;
  border: 1px solid black;
}
