footer {
  transform: scale(0.88);
}

.tags__container {
  display: flex;
  flex-direction: row;
  font-family: Roboto, arial, sans-serif;
  font-weight: 320;
  font-size: 1.3em;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 30px;
  text-align: left;
}

.div__center_container {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(249, 249, 249);
}

.tags__container div {
  padding: 5px 1vw 5px 1vw;
}

.div__icons a:visited,
.div__icons a {
  font-size: 1.3em;
  color: black;
  cursor: pointer;
}

.div__icons a:hover {
  color: #f8395c;
}

.div__name,
.div__icons {
  border-bottom: 1px dotted lightgrey;
}
.div__name {
  height: 2em;
  line-height: 1.8em;
  justify-content: center;
}

.div__icons {
  height: 2em;
  width: 20vw;
  display: flex;
  justify-content: space-around;
  /* outline: 1px solid black; */
}
