.reviewForm {
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2em;
    box-shadow:-1px -1px 10px 0px #CECECE ;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 5em;
    width: 28em;
    font-style: Roboto;
}
.reviewForm button {
    align-self: center;
    border: none;
    margin-top: 8px;
    background-color: rgb(233, 20, 20);
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius:4px;
}
.reviewForm button:hover{
    background-color: tomato;
}
.reviewForm textarea {
    border: none;
    box-shadow:-1px -1px 10px 0px #CECECE ;
    margin-top: 10px;
    padding: 5px;
    outline:none;
    width: 80%;
    align-self: center;
    border-radius: 4px;
}
.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.review_container_category_stars [type=radio] {
    text-align: center;
    margin-right: 15px;
    display:none;
}


.reviewContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review_container_stars{
    display: inline-flex;
    justify-content: center;
}
.review_container_category_stars{
    display: inline-flex;
    width: 15em;
    font-size: 1.5em;
    /* align-self: center; */
    justify-content: space-between;
}

.stars_and_input{
    display: inline-flex;
    align-self: center;
}
.stars_stars:hover {
    color: red;
}
#nums{
    display: inline-flex;
    align-self:flex-end;
    padding-right: 3em;
}

