.div__container {
  display: flex;
  height: stretch;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.listingMapContainer {
  height: calc(100vh - 145px);
  overflow: hidden;
  width: 100vw;
  background-color: white;
  display: flex;
}

.listingMapContainer__googlemap {
  width: 60vw;
  position: relative;
}

.listingMapContainer_listings {
  /* border: 2px solid red; */
  margin-right: 8px;
  padding-top: 5vh;
  margin-left: 2vw;
  width: 40vw;
  overflow-y: auto;
}

div.div__listings_property {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 1.8em 0 1.8em 0;
  border-bottom: 1px solid rgb(208, 208, 208);

  margin-bottom: 1vh;
  text-decoration: none;
  color: rgb(24, 24, 24);
}

.button.map-expand {
  display: none;
}

@media screen and (max-width: 1355px) {
  div.div__listings_property {
    flex-direction: column;
  }
  div.div__listings_info h2 {
    font-size: 1.2em;
  }
}

.listingMapContainer__googlemap {
  z-index: 1;
}

.button__filter {
  width: 5em;
}

.img__listing_coverphoto {
  width: 15em;
  height: 10em;
  border-radius: 0.7em;
}

div.div__listings_info {
  font-family: Roboto, Arial;
  font-weight: 300;
  flex-grow: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

div.div__listings_info h2 {
  font-size: 1.4em;
  text-decoration: none;
  font-weight: 200;
  margin: 0;
}

.div__description {
  height: 100%;
}

.div__nightly_rate {
  align-self: flex-end;
}

span.span__night_rate-bold {
  font-size: 1.4em;
  font-weight: 500;
}

hr {
  margin-top: 10px;
  width: 4vw;
  border-top: 1px solid rgba(208, 208, 208);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 8px 0 8px 0;
  align-self: flex-start;
  /* border-bottom: 0; */
  /* border: 1px solid rgba(208, 208, 208) !important; */
}

span.span__details {
  font-size: 0.8em;
  color: rgb(157, 157, 157);
}

div.div__listing-active {
  border-bottom: 1px dotted #ff3a5c;
  box-shadow: 0em 0.3em 0.3em rgba(155, 155, 155, 0.2);
  /* border-right: 1px dotted #ff3a5c; */
}

.button.map-expand {

}
